*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#ffffff;
}
body {
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header {
    background: #ffffff;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: white;
    top: 0;
}
header > a{
    width: 100px;
    height: 65px;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
h1 {
    background: url(../imagenes/logo.png) no-repeat center center;
    font-size: 0;
}
h3 {
    font-size: 1.4em;
    color: #57cbe1;
}

p {
    line-height: 1.5em;
}
section {
    padding: 1.25em;
}
.trabajando{
    background: #fafafa;
    text-align: center;
    color: #333333;
}
.trabajando > article {
    background: #ffffff;
    text-align: center;
    padding: 2.5em 2em;
    width: 85vw;
    margin: 2em auto;
}
.trabajando > article:hover {
    box-shadow: 0 0 2px 0px;
    transition: 0.6s;
    border-radius: 0.5em;
}
.trabajando figcaption{
    padding: 0.5em 0;
    margin:0 auto; 
}
.projectos{
    background: #fffdf4;
    text-align: center;
}
.projectos > article{
    width: 85vw;
    box-shadow: #cecece 0 0 2px 0px;
    margin: 1.5em auto;
    text-align: center;
    overflow: hidden;
}
.projectos img{
    width: 100%;
}
.projectos h2, .trabajando h2{
    font-size: 1.6em;
    width: 85vw;
    margin: 0 auto;
    color: #333333;
}
.projectos h3{
    font-size: 1.4em;
    padding-top: 0.5em;
}
.projectos figcaption{
    padding: 0.8em;

}
#hamburguesa li {
    list-style: none;
    text-indent: -100px;
    overflow: hidden;
    margin-top: .75em;
    width: 2.5em;
}

#hamburguesa li a {
    background: url("../imagenes/menu.png") no-repeat center center;
    background-size: cover;
    display: block;
    height: 2.5em;
}

#hamburguesa li:last-child {
    display: none;
}

/* En este ejemplo cambiamos el efecto de apertura, en vez de manejar el left cambiamos el alto de la caja, cuando está cerrada la barra su alto será cero y cuando está abierta el mismo alto que tenía en el ejemplo anterior. Lo único que tenemos que tener en cuentra es que si la ul tiene alto cero los botones se verán igual excediendo el alto de la caja, por lo que los ocultamos con la propiedad overflow. */

nav:target #barra {
    height: calc(100vh - 2em);
}

nav:target #hamburguesa li:first-child {
    display: none;
}

nav:target #hamburguesa li:last-child {
    display: block;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#barra {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 4em;
    background: #adc557;
    transition: height .5s ease;
}
#barra li {
    list-style: none;
    margin: 0.5em;
    width: 90vw;
    display: inline-block;
}

#barra li a {
    text-decoration: none;
    display: block;
    background: #eef0c9;
    color: #5c8b3b;
    text-align: center;
    font-size: 20px;
    line-height: 3em;
    border-radius: 10px;
    font-weight: 500;
}
#barra li a:hover{
    background: #5c8b3b;
    color: #eef0c9;
}
.banner{
    width: 100%;
    margin: auto;
    padding: 0;
}
.banner > div{
    background: url(../imagenes/banner_c.jpg) no-repeat center center;
    height: calc((100vw - 2em) * 0.903966);
    background-size: cover;
}
.boton{
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.7em;
    width: 30vw;
    color: white;
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    margin: 1em auto;
}
.boton:hover{
    cursor: pointer;
    filter: hue-rotate(90deg);
}
.porque{
    padding: 0 1.2em;
    text-align: center;
    font-size: 1em;
}
.texto-porque p{
    line-height: 1.8em;
}
.texto-porque > h2{
    font-size: 1.8em;
    color:#57cbe1;
}
.texto-porque > h3{
    margin-bottom: 0.5em;
    color:#62e0c1;
    letter-spacing: -1px;
}

.videoresponsive{
    height: calc(80vw * 315 / 560);
    max-width: 568px;
    max-height: 315px;
    border: 5px solid #3c9734;
    margin: auto;
}
.cont-video{
    width: 90vw;
    padding: 0 1.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.cont-video:first-child{
    padding-top: 2em;
}
.cont-video > div{
    margin-bottom: 2em;
}
.cont-video  h2{
    color: #57cbe1;
    font-size: 1.5em;
    margin: 0.5em 0;
}
.cont-video p{
    background: #7fe092;
    color: #333333;
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
}
#equipo{
    background: #fafafa;
}
#equipo h2, #equipo h3{
    text-align: center;
}
.cont-articulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.cont-articulos > article {
    padding: 1.8em 1em;
    box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.1);
    margin-bottom: 2em;
}
.cont-articulos article:first-of-type{
    margin-top: 1em;
}

#equipo img{
    width: 100%;
    transition: all 0.2s ease;
    cursor: pointer;
}
#equipo img:hover{
    transform: scale(1.1);
}
.nombre-voluntario{
    border-bottom: 1px solid #c1c0c0;
    padding-top: 0.8em;
}
.nombre-voluntario h3, .nombre-voluntario p{
    text-align: left !important;
}
#equipo figcaption{
    padding: 1em 0;
}
.icon-style-list > li{
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid #c1c0c0;
}
.tel{
    background: url(../imagenes/recursos/phone.svg);
    width: 16px;
    height: 16px;
    margin-right: 1em;
}
.tel:after{
    border-right: 3px solid red;
}
.email{
    background: url(../imagenes/recursos/mail.svg);
    width: 16px;
    height: 16px;
    margin-right: 1em;
}
.icon-style-list li:first-child{
    border-top: 1px solid #c1c0c0;
}
.icon-style-list li p{
    margin-bottom: 0;
    border-left: 1px solid #c1c0c0;
    padding-left: 1em;
}
#contacto{
    text-align: center;
    margin:0 auto;
}
#contacto h3{
    margin-bottom: 1em;
}
#contacto h2{
    color:#7fe092;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;
    margin: auto;
    max-width: 22em;
    position: relative;
    padding: 6% 2em;
    box-sizing: border-box;
    color: #FFF;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
    text-align: left;
}
.formulario::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: #7fe2c0;
}
/* .nombre {
    padding: 10px;
    position: relative;
    height: 3.5em;
    border: 2px solid #67AAE3;
    border-radius: 1em;
} */
.formulario label, legend {
    color: #67AAE3;
    font-size: .9em;
}
.formulario input{
    border: none;
}
.formulario input:focus, .formulario textarea:focus {
    outline: 0;
}

.formulario > label, legend {
    font-size: 0;
}
.formulario > fieldset{
    margin: 1em 0; 
    padding: 10px;
    position: relative;
    height: 3.5em;
    border: 2px solid #67AAE3;
    border-radius: 1em;
}
.areadetexto{
    height: 8em;
}
.areadetexto textarea{
    padding: .8em;
    width: 100%;
    height: 100%;
    border: 2px solid #67AAE3;
    border-radius: 1em;
}
.nombre:hover, .apellido:hover, .correo:hover{
    border: 2px solid #7fe2c0;
}
.enviar {
    cursor: pointer;
    background-color: #57cbe1;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 1.8em;
    border-radius: .8em;
    color: white;
    display: block;
    width: 112px;
    margin-top: 1.5em;
}
.enviar:hover{
    background-color: #57e190;
}
/* ESTILOS DE GRACIAS.HTML*/
#cont-gracias{
	background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.42, #FB0477),
	color-stop(1, #40027E)
);
background-image: -o-linear-gradient(left bottom, #FB0477 42%, #40027E 100%);
background-image: -moz-linear-gradient(left bottom, #FB0477 42%, #40027E 100%);
background-image: -webkit-linear-gradient(left bottom, #FB0477 42%, #40027E 100%);
background-image: -ms-linear-gradient(left bottom, #FB0477 42%, #40027E 100%);
background-image: linear-gradient(to left bottom, #FB0477 42%, #40027E 100%);
}
.gracias{
	margin:0 auto;
	text-align: center;
	height: auto;
	padding: 50px 0;
}
.gracias h1{
    color: #fff;
    background: none !important;
}
.gracias span{
	color:#fdf704;
}
.gracias h2{
	color: #fff;
	padding: 20px 0;
}
.gracias img{
	margin-bottom: 300px; 
}
#sub-contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    font-size: 1.2em;
    color: white;
}
#sub-contacto > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#sub-contacto > div:nth-child(1){
    align-items: flex-start;
    background: #57cbe1;
    width: 100%;
    padding: 25px;
    justify-content: flex-start;
}
#sub-contacto > div:nth-child(2){
    align-items: flex-start;
    background: #62e0c1;
    width: 100%;
    padding: 25px;
    justify-content: flex-start;
}
#sub-contacto > div:nth-child(3){
    align-items: flex-start;
    background: #7fe092;
    width: 100%;
    padding: 25px;
    justify-content: flex-start;
}
#sub-contacto > div > div{
    margin: 0 1em;
}
.cont-datos{
    width: 90vw;
    background:#003f8c;
    margin: 0 auto;
}
.datos{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}
.datos > li{
    width: 100%;
    padding: 1em 0;
    color: white;
    text-decoration: none;
    list-style: none;
}
.texto-porque{
    padding: 2em;
    background: #003f8c;
    color: white;
    border-radius: 15px;
    margin: 20px 0;
}
/* @media screen and (min-width: 480px) {
body{
    background: red;
} */
/*Media Query para la vista desde tablet*/
@media screen and (min-width: 767px) {
    h1{
        width: 100px;
        height: 65px;
    }
    body{
        max-width: 767px;
        margin:0 auto;
    }

    header{
        width: 100%;
        position: relative;
    }
    #barra li a:hover{
        background: none;
        color: #8ad05a;
        text-decoration: underline;
    }
    #hamburguesa{
        display: none;
    }

    #menu{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    #barra {
        position: static;
        height: auto;
        text-align: right;
        background: none;
        margin:0 auto;
    }

    #barra li {
        width: 99px;
        text-align: center;
        margin: 0 auto;
    }
    #barra li a {
        background: none;
    }
    .porque{
        text-align: left;
        padding: 0 2em;
    }
    .cont-video{
        align-items: flex-start;
        width: 100%;
    }
    .cont-video > div{
        width: 45%;
    }
    .cont-video h2{
        font-size: 20px;
    }
    .videoresponsive{
        /* height: calc(767px * 240 / 413);
        max-width: 413px;
        max-height: 240px; */
        height: calc(767px * 179 / 400);
        max-width: 400px;
        max-height: 179px;
    }
    .cont-articulos article:first-of-type {
        margin-top: 0;
    }
    .cont-articulos{
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px;
    }
    .cont-articulos > article{
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
    .banner{
        width: 100%;
    }
    .banner > div{
        background: url(../imagenes/banner_t.jpg) no-repeat center center;
        height: calc((100vw - 2em) * 0.5645371577);
        background-size: cover;
    }
    .trabajando, .projectos{
        display:flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        
    }
    .trabajando > article{
        width: 41vw;
        padding: 1em;
        margin: 1em;
    }
    .projectos > article{
        width: 41vw;
        margin: 1em;
    }
    .projectos h2, .trabajando h2{
        font-size: 1.5em;
        margin:0.3em auto;
    }
    .boton{
        width: 20vw;
        float: right;
        margin: 0;
        margin-top: 1em;
    }
    .sub-contacto{
        width: 80%;
    }
    .cont-datos{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    body{
        max-width: 1024px;
        margin: auto;
    }
    .banner{
        width: 1024px;
    }
    .banner > div{
        background: url(../imagenes/banner_pc.jpg) no-repeat center center;
        height: calc((992px - 2em) * 0.474095796);
        background-size: cover;
    }
    .trabajando > article{
        width: 21%;
        margin: 1em;
    }
    .boton{
        width: 50%;
    }
    .projectos h3 {
        font-size: 20px;
        padding-top: 0.5em;
    }
    .videoresponsive{
        height: calc(1024px * 166 / 400);
        max-width: 400px;
        max-height: 166px;
    }
    .cont-video{
        text-align: center;
    }
    .cont-video > div {
        width: 30%;
    }
    .cont-video p{
        padding: 10px;
        border-radius: 0 0 10px 10px;
        text-align: left;
    }
    .cont-articulos > article{
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    #contacto {
        padding: 20px 0 40px 0;
    }
    #menu{
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    #barra{
        position: static;
        height: auto;
        text-align: right;
        background: none;
        margin: 0 auto;
    }
    #barra li {
        width: 110px;
        margin: 0 5px;
        text-align: center;
    }
    #trabajo, #projectos{
        width: 1024px;
        margin: 0 auto;
    }
    #projectos > article{
        width: 30%;
        margin: 0.5em;
    
    }
    #sub-contacto{
        flex-direction: row;
        width: 100%;
        flex-wrap: inherit;
        font-size: 16px;
    }
    #sub-contacto > div:nth-child(1), #sub-contacto > div:nth-child(2), #sub-contacto > div:nth-child(3){
        width: calc(1024px / 3);
        height: 125px;
        padding: 15px;
        align-items: center;
        justify-content: space-around;
    }
    .formulario{
        width: 100%;
        max-width: 600px;
        padding: 2% 2em;
    }
    .datos > li{
        padding: 10px 0;
    }
}