* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #ffffff;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: white;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
h1{
    background: url(../imagenes/logo.png) no-repeat center center;
    font-size: 0;
}
h3 {
    font-size: 1.4em;
    color: #57cbe1;
}

p {
    margin-bottom: 1em;
    line-height: 1.5em;
}
section {
    padding: 1.25em;
}
.trabajando{
    background: #fafafa;
    text-align: center;
    color: #333333;
}
.trabajando > article {
    background: #ffffff;
    text-align: center;
    padding: 2.5em 2em;
    width: 80vw;
    margin: 2em auto;
}
.trabajando > article:hover {
    box-shadow: 0 0 2px 0px;
    transition: 0.6s;
    border-radius: 0.5em;
}

#hamburguesa li {
    list-style: none;
    text-indent: -100px;
    overflow: hidden;
    margin-top: .75em;
    width: 2.5em;
}

#hamburguesa li a {
    background: url("../imagenes/menu.png") no-repeat center center;
    background-size: cover;
    display: block;
    height: 2.5em;
}

#hamburguesa li:last-child {
    display: none;
}

/* En este ejemplo cambiamos el efecto de apertura, en vez de manejar el left cambiamos el alto de la caja, cuando está cerrada la barra su alto será cero y cuando está abierta el mismo alto que tenía en el ejemplo anterior. Lo único que tenemos que tener en cuentra es que si la ul tiene alto cero los botones se verán igual excediendo el alto de la caja, por lo que los ocultamos con la propiedad overflow. */

nav:target #barra {
    height: calc(100vh - 2em);
}

nav:target #hamburguesa li:first-child {
    display: none;
}

nav:target #hamburguesa li:last-child {
    display: block;
}

#barra {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 4em;
    background: #adc557;
    transition: height .5s ease;
}
#barra li {
    list-style: none;
    margin: 1em;
    width: 90%;
    display: inline-block;
}

#barra li a {
    text-decoration: none;
    display: block;
    background: #eef0c9;
    color: #5c8b3b;
    text-align: center;
    font-size: 16px;
    line-height: 3em;
    border-radius: 10px;
    font-weight: 500;
}
#barra li a:hover{
    background: #5c8b3b;
    color: #eef0c9;
}
.banner{
    width: 100%;
    margin: auto;
    padding: 0;
}
.banner > div{
    background: url(../imagenes/banner_c.jpg) no-repeat center center;
    height: calc((100vw - 2em) * 0.903966);
    background-size: cover;
}
@media screen and (min-width: 767px) {
    #hamburguesa li a{
        display: none;
    }
    .banner{
        width: 95vw;
    }
    .banner > div{
        background: url(../imagenes/banner_t.jpg) no-repeat center center;
        height: calc((100vw - 2em) * 0.5645371577);
        background-size: cover;
    }
}
/* @media screen and (max-width: 991px){
#hamburguesa li a {
    background: url(img/menu.png) no-repeat center center;
    background-size: cover;
    display: block;
    height: 1.5em;
} */
@media screen and (min-width: 992px) {
    .banner{
        width: 90vw;
    }
    .banner > div{
        background: url(../imagenes/banner_pc.jpg) no-repeat center center;
        height: calc((100vw - 2em) * 0.474095796);
        background-size: cover;
    }
}
