* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #ffffff;
    height: 5em;
    line-height: 6em;
    text-align: center;
    color: white;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    background: url(../img/logo-blue.png) no-repeat;
    background-position-x: center;
    width: 126px;
    height: 100px;
    font-size: 0;
    margin: 0 auto;
}
figure>img{
    width: 100vw;
}

h2 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.5em;
}
.banner{
    padding: 0;
}
section{
    padding: 1.25em;
}
.trabajando{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.trabajando > div{
    width: 80vw;
    text-align: center;
    padding:2em;
}

@media screen and (max-width: 991px) {

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    #hamburguesa li {
        list-style: none;
        text-indent: -110px;
        overflow: hidden;
        margin-top: 1.75em;
        width: 2.5em;
    }

    #hamburguesa li a {
        background: url("../img/menu-3.png") no-repeat center center;
        background-size: cover;
        display: block;
        height: 1.5em;
    }

    #hamburguesa li:last-child {
        display: none;
    }

    /* En este ejemplo cambiamos el efecto de apertura, en vez de manejar el left cambiamos el alto de la caja, cuando estÃƒÂ¡ cerrada la barra su alto serÃƒÂ¡ cero y cuando estÃƒÂ¡ abierta el mismo alto que tenÃƒÂ­a en el ejemplo anterior. Lo ÃƒÂºnico que tenemos que tener en cuentra es que si la ul tiene alto cero los botones se verÃƒÂ¡n igual excediendo el alto de la caja, por lo que los ocultamos con la propiedad overflow. */

    nav:target #barra {
        height: calc(100vh - 14em);
    }

    nav:target #hamburguesa li:first-child {
        display: none;
    }

    nav:target #hamburguesa li:last-child {
        display: block;
    }
}

#barra {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 5em;
    background: #adc557;
    transition: height .5s ease;
}

#barra li {
    list-style: none;
    margin: 1em;
    width: 90%;
    display: inline-block;
}

#barra li a {
    text-decoration: none;
    display: block;
    background: #eef0c9;
    color: #5c8b3b;
    text-align: center;
    font-size: 25px;
    line-height: 3em;
    border-radius: 10px;
    font-weight: 500;
}
#barra li a:hover{
    background: #5c8b3b;
    color: #eef0c9;
}
/* Estilos para pc. */

@media screen and (min-width: 992px) {

    #hamburguesa {
        display: none;
    }

    header {
        height: auto;
        max-width: 1100px;
        margin: auto;
    }

    section {
        max-width: 1100px;
        margin: auto;
    }

    h1 {
        display: inline-block;
        vertical-align: middle;
    }

    #menu {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
    }

    #barra {
        position: static;
        height: auto;
        text-align: right;
        background: none;
    }

    #barra li {
        width: 130px;
        margin: 0 1em;
        text-align: center;
    }
}